# SPDX-License-Identifier: GPL-2.0
#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Micronix/$(ARCH) $(KERNELVERSION) Kernel Configuration"

comment "Compiler: $(CC_VERSION_TEXT)"

source "scripts/Kconfig.include"

source "arch/$(SRCARCH)/Kconfig"

source "drivers/Kconfig"

menu "Kernel options"
source "kernel/Kconfig"
endmenu

source "programs/Kconfig"
